@page "/games";

<PageTitle>Games</PageTitle>

@using GameTracker.Frontend.Helpers;
@using GameTracker.Frontend.Models;
@using GameTracker.Frontend.Pages.Components;
@using GameTracker.Interfaces;
@using GameTracker.Core;
@using GameTracker.Models;
@using GameTracker.Models.Enums;

@inject NavigationManager NavigationManager;
@inject PreloadService PreloadService;
@inject ToastService ToastService;

@inject IGameLibraryManager GameLibraryManager;

@if (!_isAuthenticated)
{
    <p><em>Unauthorized.</em></p>
}
else if (_isInitializing)
{
}
else if (GameLibraryManager.GamesGroupedByTitle == null || !GameLibraryManager.GamesGroupedByTitle.Any())
{
    <p><em>No games loaded. Please configure a game provider.</em></p>
}
else
{
    <table class="table search-fields">
        <tr>
            <td>
                <Accordion>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Search" Class="me-1" />Title Search...
                        </TitleTemplate>
                        <Content>
                            <AutoComplete @bind-Value="_filterProperties.Name"
                                          TItem="Game"
                                          DataProvider="GameFilterProvider"
                                          PropertyName="Title"
                                          Placeholder="Search for a game title..."
                                          OnChanged="(Game game) => TitleFilter(game)" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Tag" Class="me-1" /> Keyword Search...
                        </TitleTemplate>
                        <Content>
                            <AutoComplete @bind-Value="_filterProperties.Keyword"
                                          TItem="FilterableItem"
                                          DataProvider="KeywordFilterProvider"
                                          PropertyName="Name"
                                          Placeholder="Search for a keyword..."
                                          OnChanged="(FilterableItem keyword) => KeywordFilter(keyword)" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Calendar" Class="me-1" /> Released Since...
                        </TitleTemplate>
                        <Content>
                            <DateInput TValue="DateOnly?" @bind-Value="@ReleaseDateFilter" Placeholder="Released since..." />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Hourglass" Class="me-1" /> Time Played...
                        </TitleTemplate>
                        <Content>
                            <NumberInput TValue="int?" @bind-Value="@UpperHoursFilter" Placeholder="Upper bound (hours)" />
                            <NumberInput TValue="int?" @bind-Value="@LowerHoursFilter" Placeholder="Lower bound (hours)" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Star" Class="me-1" /> Minimum Review Score...
                        </TitleTemplate>
                        <Content>
                            <NumberInput TValue="int?" @bind-Value="@MinimumReviewScoreFilter" Placeholder="Minimum score (%)" />
                        </Content>
                    </AccordionItem>
                </Accordion>
            </td>
            <td>
                <Accordion>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Controller" Class="me-1" /> Genre Search...
                        </TitleTemplate>
                        <Content>
                            <AutoComplete @bind-Value="_filterProperties.Genre"
                                          TItem="FilterableItem"
                                          DataProvider="GenreFilterProvider"
                                          PropertyName="Name"
                                          Placeholder="Search for a genre..."
                                          OnChanged="(FilterableItem genre) => GenreFilter(genre)" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.WindowDesktop" Class="me-1" /> Platform Search...
                        </TitleTemplate>
                        <Content>
                            <AutoComplete @bind-Value="_filterProperties.Platform"
                                          TItem="FilterableItem"
                                          DataProvider="PlatformFilterProvider"
                                          PropertyName="Name"
                                          Placeholder="Search for a platform..."
                                          OnChanged="(FilterableItem platforms) => PlatformFilter(platforms)" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Shop" Class="me-1" /> Provider Search...
                        </TitleTemplate>
                        <Content>
                            <AutoComplete @bind-Value="_filterProperties.Provider"
                                          TItem="FilterableItem"
                                          DataProvider="ProviderFilterProvider"
                                          PropertyName="Name"
                                          Placeholder="Search for a provider..."
                                          OnChanged="(FilterableItem provider) => ProviderFilter(provider)" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.Building" Class="me-1" /> Publisher Search...
                        </TitleTemplate>
                        <Content>
                            <AutoComplete @bind-Value="_filterProperties.Publisher"
                                          TItem="FilterableItem"
                                          DataProvider="PublisherFilterProvider"
                                          PropertyName="Name"
                                          Placeholder="Search for a publisher..."
                                          OnChanged="(FilterableItem publisher) => PublisherFilter(publisher)" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem>
                        <TitleTemplate>
                            <Icon Name="IconName.CodeSlash" Class="me-1" /> Studio Search...
                        </TitleTemplate>
                        <Content>
                            <AutoComplete @bind-Value="_filterProperties.Studio"
                                          TItem="FilterableItem"
                                          DataProvider="StudioFilterProvider"
                                          PropertyName="Name"
                                          Placeholder="Search for a development studio..."
                                          OnChanged="(FilterableItem studio) => StudioFilter(studio)" />
                        </Content>
                    </AccordionItem>
                </Accordion>
            </td>
        </tr>
    </table>
    <Accordion>
        <AccordionItem>
            <TitleTemplate>
                <Icon Name="IconName.SortUp" Class="me-1" /> Sort by...
            </TitleTemplate>
            <Content>
                <div>
                    <Button Color="ButtonColor.Primary" @onclick="(async () => await OrderBy(SortField.AverageReview))" Outline="true">
                        <Icon Name="@IconHelper.GetSortIcon(_fieldOrderDictionary[SortField.AverageReview], SortField.AverageReview)"/>
                        Average Review
                    </Button>
                    <Button Color="ButtonColor.Primary" @onclick="(async () => await OrderBy(SortField.LastPlayed))" Outline="true">
                        <Icon Name="@IconHelper.GetSortIcon(_fieldOrderDictionary[SortField.LastPlayed], SortField.LastPlayed)" />
                        Last Played
                    </Button>
                    <Button Color="ButtonColor.Primary" @onclick="(async () => await OrderBy(SortField.PlayTime))" Outline="true">
                        <Icon Name="@IconHelper.GetSortIcon(_fieldOrderDictionary[SortField.PlayTime], SortField.PlayTime)" />
                        Playtime
                    </Button>
                    <Button Color="ButtonColor.Primary" @onclick="(async () => await OrderBy(SortField.Publisher))" Outline="true">
                        <Icon Name="@IconHelper.GetSortIcon(_fieldOrderDictionary[SortField.Publisher], SortField.Publisher)" />
                        Publisher
                    </Button>
                    <Button Color="ButtonColor.Primary" @onclick="(async () => await OrderBy(SortField.ReleaseDate))" Outline="true">
                        <Icon Name="@IconHelper.GetSortIcon(_fieldOrderDictionary[SortField.ReleaseDate], SortField.ReleaseDate)" />
                        Release Date
                    </Button>
                    <Button Color="ButtonColor.Primary" @onclick="(async () => await OrderBy(SortField.StudioName))" Outline="true">
                        <Icon Name="@IconHelper.GetSortIcon(_fieldOrderDictionary[SortField.StudioName], SortField.StudioName)" />
                        Studio
                    </Button>
                    <Button Color="ButtonColor.Primary" @onclick="(async () => await OrderBy(SortField.Title))" Outline="true">
                        <Icon Name="@IconHelper.GetSortIcon(_fieldOrderDictionary[SortField.Title], SortField.Title)" />
                        Title
                    </Button>
                </div>
            </Content>
        </AccordionItem>
    </Accordion>
    <Grid @ref="_gameGrid"
          AllowFiltering="false"
          AllowPaging="true"
          Class="table table-hover table-bordered table-striped"
          Data="FilteredOrderedGames.ToGameRows()"
          GridSettingsChanged="OnGridUpdated"
          PageSize="@_pageSize"
          PageSizeSelectorVisible="false"
          PageSizeSelectorItems="@(new int[] { 3 })"
          PaginationItemsTextFormat="@_paginationText"
          Responsive="true"
          TItem="GameRow">
        <GridColumn TItem="GameRow" PropertyName="Game1" Filterable="false" Sortable="false" TextAlignment="Alignment.Center">
            <ChildContent>
                <GameCell GameGroup="@context.Game1"/>
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="GameRow" PropertyName="Game2" Filterable="false" Sortable="false" TextAlignment="Alignment.Center">
            <ChildContent>
                <GameCell GameGroup="@context.Game2"/>
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="GameRow" PropertyName="Game3" Filterable="false" Sortable="false" TextAlignment="Alignment.Center">
            <ChildContent>
                <GameCell GameGroup="@context.Game3"/>
            </ChildContent>
        </GridColumn>
    </Grid>
}

@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private FilterProperties _filterProperties = new();
    private Grid<GameRow> _gameGrid;

    private bool _ascendingOrder;
    private Dictionary<SortField, bool> _fieldOrderDictionary;
    private Dictionary<string, Func<IGrouping<string, Game>, bool>> _filterPredicates { get; set; }
    private bool _isAuthenticated;
    private bool _isInitializing;
    private Func<IGrouping<string, Game>, object?> _orderSelector { get; set; }
    private int _pageSize;
    private string _paginationText;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        _isAuthenticated = authState?.User?.Identity?.IsAuthenticated ?? false;
        var userName = authState?.User?.Identity?.Name;

        if (!_isAuthenticated || string.IsNullOrEmpty(userName))
        {
            return;
        }

        _fieldOrderDictionary = InitializeGridOrder();
        _ascendingOrder = true;
        _filterPredicates = new Dictionary<string, Func<IGrouping<string, Game>, bool>>();
        _orderSelector = LinqHelper.TitleSelector;

        _isInitializing = true;
        PreloadService.Show();
        await GameLibraryManager.InitialiseProviders(userName);
        PreloadService.Hide();
        _isInitializing = false;

        _pageSize = 3;
        RefreshPaginationText(1, _pageSize, GameLibraryManager.GamesGroupedByTitle.Count());
    }

    private IEnumerable<IGrouping<string, Game>> FilteredOrderedGames
    {
        get
        {
            var filtered = GameLibraryManager.GamesGroupedByTitle.Where(gameGroup => _filterPredicates.Any() ? _filterPredicates.All(predicate => predicate.Value(gameGroup)) : true);

            if (_ascendingOrder)
            {
                return filtered.OrderBy(_orderSelector);
            }
            else
            {
                return filtered.OrderByDescending(_orderSelector);
            }
        }
    }

    #region AutoComplete Data Providers

    private async Task<AutoCompleteDataProviderResult<Game>> GameFilterProvider(AutoCompleteDataProviderRequest<Game> request)
    {
        return await Task.FromResult(request.ApplyTo(GameLibraryManager.GamesGroupedByTitle.SelectMany(g => g).DistinctBy(g => g.Title)));
    }

    private async Task<AutoCompleteDataProviderResult<FilterableItem>> KeywordFilterProvider(AutoCompleteDataProviderRequest<FilterableItem> request)
    {
        var keywords = GameLibraryManager.GamesGroupedByTitle.SelectMany(g => g.SelectMany(g2 => !string.IsNullOrEmpty(g2.Description) ? g2.Description.ToSanitizedKeywordArray() : Array.Empty<string>()))
            .Distinct()
            .OrderBy(k => k)
            .Select(k => new FilterableItem { Name = k })
            .ToList();

        return await Task.FromResult(request.ApplyTo(keywords));
    }

    private async Task<AutoCompleteDataProviderResult<FilterableItem>> GenreFilterProvider(AutoCompleteDataProviderRequest<FilterableItem> request)
    {
        var genres = GameLibraryManager.GamesGroupedByTitle.SelectMany(g => g.SelectMany(g2 => g2.Genres))
            .Distinct()
            .OrderBy(g => g.ToString())
            .Select(g => new FilterableItem { Name = g.ToString() })
            .ToList();

        return await Task.FromResult(request.ApplyTo(genres));
    }

    private async Task<AutoCompleteDataProviderResult<FilterableItem>> PlatformFilterProvider(AutoCompleteDataProviderRequest<FilterableItem> request)
    {
        var platforms = Enum.GetValues<Platforms>()
                            .Where(p => p != Platforms.None && GameLibraryManager.Games.Any(g => g.Platforms.HasFlag(p)))
                            .Select(p => new FilterableItem { Name = p.ToString() })
                            .OrderBy(p => p.Name)
                            .ToList();

        return await Task.FromResult(request.ApplyTo(platforms));
    }

    private async Task<AutoCompleteDataProviderResult<FilterableItem>> PublisherFilterProvider(AutoCompleteDataProviderRequest<FilterableItem> request)
    {
        var publishers = GameLibraryManager.GamesGroupedByTitle.Where(g => g.Any(g2 => !string.IsNullOrEmpty(g2.Publisher)))
            .SelectMany(g => g.Where(g2 => g2.Studio != null).Select(g2 => new FilterableItem { Name = g2.Publisher }))
            .DistinctBy(s => s.Name)
            .OrderBy(s => s.Name);

        return await Task.FromResult(request.ApplyTo(publishers));
    }

    private async Task<AutoCompleteDataProviderResult<FilterableItem>> ProviderFilterProvider(AutoCompleteDataProviderRequest<FilterableItem> request)
    {
        var providers = GameLibraryManager.GamesGroupedByTitle
            .SelectMany(g => g.Select(g2 => new FilterableItem { Name = g2.ProviderName }))
            .DistinctBy(s => s.Name)
            .OrderBy(s => s.Name);

        return await Task.FromResult(request.ApplyTo(providers));
    }

    private async Task<AutoCompleteDataProviderResult<FilterableItem>> StudioFilterProvider(AutoCompleteDataProviderRequest<FilterableItem> request)
    {
        var studios = GameLibraryManager.GamesGroupedByTitle.Where(g => g.Any(g2 => !string.IsNullOrEmpty(g2.Studio)))
            .SelectMany(g => g.Where(g2 => g2.Studio != null).Select(g2 => new FilterableItem { Name = g2.Studio }))
            .DistinctBy(s => s.Name)
            .OrderBy(s => s.Name);

        return await Task.FromResult(request.ApplyTo(studios));
    }

    #endregion

    # region Grid Ordering    

    private static Dictionary<SortField, bool> InitializeGridOrder()
    {
        return new Dictionary<SortField, bool>()
        {
            [SortField.AverageReview] = true,
            [SortField.LastPlayed] = true,
            [SortField.PlayTime] = true,
            [SortField.Publisher] = true,
            [SortField.ReleaseDate] = true,
            [SortField.StudioName] = true,
            [SortField.Title] = true
        };
    }

    private async Task OrderBy(SortField sortField)
    {
        _fieldOrderDictionary[sortField] = _fieldOrderDictionary.ContainsKey(sortField) ? !_fieldOrderDictionary[sortField] : false;
        _ascendingOrder = _fieldOrderDictionary[sortField];

        switch (sortField)
        {
            case SortField.AverageReview:
                _orderSelector = LinqHelper.AverageReviewSelector;
                break;
            case SortField.LastPlayed:
                _orderSelector = LinqHelper.LastPlayedSelector;
                break;
            case SortField.PlayTime:
                _orderSelector = LinqHelper.PlaytimeSelector;
                break;
            case SortField.Publisher:
                _orderSelector = LinqHelper.PublisherSelector;
                break;
            case SortField.ReleaseDate:
                _orderSelector = LinqHelper.ReleaseDateSelector;
                break;
            case SortField.StudioName:
                _orderSelector = LinqHelper.StudioSelector;
                break;
            case SortField.Title:
                _orderSelector = LinqHelper.TitleSelector;
                break;
        }

        // This should not be necessary, but somehow the grid data source is not being refreshed until after
        // the render event, meaning that otherwise the grid state will be at least one step behind where it should be.
        // So, we have to forcibly reset the data source to pick up changes to the collection order.
        // Not sure why this is only affecting changes to sort order and not filtering.

        #pragma warning disable BL0005
        _gameGrid.Data = FilteredOrderedGames.ToGameRows();
        #pragma warning restore BL0005

        await _gameGrid.RefreshDataAsync();
    }

    #endregion

    #region Grid Filtering 

    private DateOnly? ReleaseDateFilter
    {
        get => _filterProperties.ReleaseDate;
        set
        {
            _filterProperties.ReleaseDate = value;
            _filterPredicates[nameof(ReleaseDateFilter)] = LinqHelper.ReleaseDateFilter(value);
            _gameGrid.RefreshDataAsync();
        }
    }

    private DateTime? LastPlayedFilter
    {
        get => _filterProperties.LastPlayed;
        set
        {
            _filterProperties.LastPlayed = value;
            _filterPredicates[nameof(LastPlayedFilter)] = LinqHelper.LastPlayedFilter(value);
            _gameGrid.RefreshDataAsync();
        }
    }

    private int? LowerHoursFilter
    {
        get => _filterProperties.LowerHours;
        set
        {
            _filterProperties.LowerHours = value;
            _filterPredicates[nameof(LowerHoursFilter)] = LinqHelper.MinPlaytimeFilter(value.HasValue ? TimeSpan.FromHours(Convert.ToDouble(value)) : null);
            _gameGrid.RefreshDataAsync();
        }
    }

    private int? UpperHoursFilter
    {
        get => _filterProperties.UpperHours;
        set
        {
            _filterProperties.UpperHours = value;
            _filterPredicates[nameof(UpperHoursFilter)] = LinqHelper.MaxPlaytimeFilter(value.HasValue ? TimeSpan.FromHours(Convert.ToDouble(value)) : null);
            _gameGrid.RefreshDataAsync();
        }
    }

    private int? MinimumReviewScoreFilter
    {
        get => _filterProperties.MinimumReviewScore;
        set
        {
            _filterProperties.MinimumReviewScore = value;
            _filterPredicates[nameof(MinimumReviewScoreFilter)] = LinqHelper.ReviewScoreFilter(value);
            _gameGrid.RefreshDataAsync();
        }
    }

    private async Task GenreFilter(FilterableItem genre)
    {
        _filterPredicates[nameof(GenreFilter)] = LinqHelper.GenreFilter(genre?.Name);
        await _gameGrid.RefreshDataAsync();
    }

    private async Task KeywordFilter(FilterableItem keyword)
    {
        _filterPredicates[nameof(KeywordFilter)] = LinqHelper.KeywordFilter(keyword?.Name);
        await _gameGrid.RefreshDataAsync();
    }

    private async Task PlatformFilter(FilterableItem platforms)
    {
        _filterPredicates[nameof(PlatformFilter)] = LinqHelper.PlatformFilter(Enum.Parse<Platforms>(platforms?.Name ?? Platforms.None.ToString()));
        await _gameGrid.RefreshDataAsync();
    }

    private async Task ProviderFilter(FilterableItem provider)
    {
        _filterPredicates[nameof(ProviderFilter)] = LinqHelper.ProviderFilter(provider?.Name);
        await _gameGrid.RefreshDataAsync();
    }

    private async Task PublisherFilter(FilterableItem publisher)
    {
        _filterPredicates[nameof(StudioFilter)] = LinqHelper.PublisherFilter(publisher?.Name);
        await _gameGrid.RefreshDataAsync();
    }

    private async Task TitleFilter(Game game)
    {
        _filterPredicates[nameof(TitleFilter)] = LinqHelper.TitleFilter(game?.Title);
        await _gameGrid.RefreshDataAsync();
    }

    private async Task StudioFilter(FilterableItem studio)
    {
        _filterPredicates[nameof(StudioFilter)] = LinqHelper.StudioFilter(studio?.Name);
        await _gameGrid.RefreshDataAsync();
    }

    #endregion    

    #region Grid State

    private async Task OnGridUpdated(GridSettings gridSettings)
    {
        RefreshPaginationText(gridSettings.PageNumber, gridSettings.PageSize, FilteredOrderedGames.Count());
    }

    private void RefreshPaginationText(int pageNumber, int pageSize, int gameCount)
    {
        int from = (pageNumber - 1) * (pageSize * 3) + 1;
        int to = pageNumber * (pageSize * 3);
        int total = gameCount;

        if (to > total)
        {
            to = total;
        }

        _pageSize = pageSize;
        _paginationText = $"{from} to {to} of {total} games";
    }

    #endregion
}