@page "/gameproviders";

<PageTitle>Game Providers</PageTitle>

@using GameTracker.Data.Repositories;
@using GameTracker.Frontend.Helpers;
@using GameTracker.Frontend.Pages.Components
@using GameTracker.Interfaces;
@using GameTracker.Core;
@using GameTracker.Interfaces.Data;
@using GameTracker.Models;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService;

@inject IGameLibraryManager GameLibraryManager;
@inject IGameProviderFactory ProviderFactory;
@inject IParameterCacheRepository ParameterCacheRepository;

@if (!isAuthenticated)
{
    <p><em>Unauthorized.</em></p>
}
else if (_providers == null || !_providers.Any())
{
    <p><em>Loading Providers...</em></p>
}
else
{
    <Grid TItem="IGameProvider"
          Class="table table-hover table-bordered table-striped"
          Data="_providers"
          AllowFiltering="false"
          AllowPaging="false"
          PageSizeSelectorVisible="false"
          PageSizeSelectorItems="@(new int[] { })"
          PaginationItemsTextFormat="">
        <GridColumn TItem="IGameProvider" PropertyName="Platform">
            <HeaderContent>
                Platform
            </HeaderContent>
            <ChildContent>
                <div class="platform-container">
                    @if (string.IsNullOrEmpty(context.Platform.Icon))
                    {
                        @context.Platform.Name
                    }
                    else
                    {
                        <Icon Size="IconSize.x2" Name="@IconHelper.GetIconEnum(@context.Platform.Icon, IconName.Controller)" />
                    }                                       
                </div>
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="IGameProvider" PropertyName="RequiredParameters">
            <HeaderContent>
                Required Parameters
            </HeaderContent>
            <ChildContent>
                <GameProviderParams GameProvider="@context"
                                    BoolParameters=@_boolParameters
                                    DateParameters=@_dateParameters
                                    StringParameters=@_stringParameters
                                    IntParameters=@_intParameters />
            </ChildContent>
        </GridColumn>
        <GridColumn TItem="IGameProvider" PropertyName="Refresh">
            <div class="btn-container">
                <Modal @ref="_providerModal" IsVerticallyCentered=true Size="ModalSize.Large" />
                <Button Color="ButtonColor.Primary" Loading=@IsLoading(context) onclick="@(async () => await LoadGames(context))">
                    <LoadingTemplate>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </LoadingTemplate>
                    <ChildContent>
                        Load Games
                    </ChildContent>
                </Button>
                <Button Color="ButtonColor.Secondary" onclick="@(async () => await OnShowProviderModalClick(context))">
                    More Info
                </Button>
            </div>            
        </GridColumn>
    </Grid>
}

@code {
    private IGameProvider[]? _providers;
    private Dictionary<Guid, bool> _providerLoadingState;
    private Dictionary<string, bool> _boolParameters;
    private Dictionary<string, DateTime> _dateParameters;
    private Dictionary<string, string> _stringParameters;
    private Dictionary<string, int> _intParameters;

    private bool isAuthenticated;
    private Modal _providerModal;
    private string userName;    

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        isAuthenticated = authState?.User?.Identity?.IsAuthenticated ?? false;

        if (!isAuthenticated)
        {
            return;
        }

        userName = authState?.User?.Identity?.Name ?? string.Empty;
        _providers = ProviderFactory.GetProviders().ToArray();
        _providerLoadingState = new Dictionary<Guid, bool>();
        _boolParameters = new Dictionary<string, bool>();
        _dateParameters = new Dictionary<string, DateTime>();
        _intParameters = new Dictionary<string, int>();
        _stringParameters = new Dictionary<string, string>();

        foreach (var provider in _providers)
        {
            var parameterCache = await ParameterCacheRepository.GetParameters(userName, provider.ProviderId);
            var existingParams = parameterCache?.Parameters;

            int paramIndex = 0;
            foreach (var providerArg in provider.RequiredParameters)
            {
                var existingValue = existingParams.Any() ? existingParams[paramIndex] : null;

                switch (providerArg.Value)
                {
                    case Type boolType when boolType == typeof(bool):
                        _boolParameters[provider.Platform.Name + providerArg.Key] = existingValue != null ? bool.Parse(existingValue.ToString()) : default;
                        break;
                    case Type dateType when dateType == typeof(DateTime):
                        _dateParameters[provider.Platform.Name + providerArg.Key] = existingValue != null ? DateTime.Parse(existingValue.ToString()) : default;
                        break;
                    case Type intType when intType == typeof(int):
                        _intParameters[provider.Platform.Name + providerArg.Key] = existingValue != null ? Convert.ToInt32(existingValue) : default;
                        break;
                    case Type stringType when stringType == typeof(string):
                        _stringParameters[provider.Platform.Name + providerArg.Key] = existingValue != null ? existingValue.ToString() : string.Empty;
                        break;
                }

                paramIndex++;
            }
        }
    }

    private async Task LoadGames(IGameProvider provider)
    {
        try
        {
            var providerArgValues = new List<object>();
            foreach (var arg in provider.RequiredParameters)
            {
                switch (arg.Value)
                {
                    case Type boolType when boolType == typeof(bool):
                        providerArgValues.Add(_boolParameters[provider.Platform.Name + arg.Key]);
                        break;
                    case Type dateType when dateType == typeof(DateTime):
                        providerArgValues.Add(_dateParameters[provider.Platform.Name + arg.Key]);
                        break;
                    case Type intType when intType == typeof(int):
                        providerArgValues.Add(_intParameters[provider.Platform.Name + arg.Key]);
                        break;
                    case Type stringType when stringType == typeof(string):
                        providerArgValues.Add(_stringParameters[provider.Platform.Name + arg.Key]);
                        break;
                }
            }

            if (provider.RequiredParameters.Any() && (!providerArgValues.Any() || providerArgValues.Any(pa => pa == null)))
            {
                ToastService.Notify(new ToastMessage
                {
                    Type = ToastType.Warning,
                    Message = $"Cannot load games for provider {provider.Platform.Name}: Required information missing.",
                });
            }
            else
            {
                ToastService.Notify(new ToastMessage
                {
                    Type = ToastType.Info,
                    Message = $"Refreshing games for provider {provider.Platform.Name}...",
                });

                _providerLoadingState[provider.ProviderId] = true;
                this.StateHasChanged();
                await GameLibraryManager.RefreshProvider(userName, provider.ProviderId, providerArgValues.ToArray());
                _providerLoadingState[provider.ProviderId] = false;
                this.StateHasChanged();

                ToastService.Notify(new ToastMessage
                {
                    Type = ToastType.Success,
                    Message = $"Successfully loaded {provider.Games.Count()} games from provider {provider.Platform.Name}.",
                });
            }
        }
        catch (Exception e)
        {
            ToastService.Notify(new ToastMessage
            {
                Type = ToastType.Danger,
                Message = $"Failed to load games for provider {provider.Platform.Name}: {e.Message}",
            });
        }
    }

    private async Task OnShowProviderModalClick(IGameProvider provider)
    {
        var modalParams = new Dictionary<string, object>();
        modalParams.Add("Provider", provider.Platform);
        await _providerModal.ShowAsync<ProviderModal>(title: provider.Platform.Name, parameters: modalParams);
    }

    private bool IsLoading(IGameProvider provider)
    {
        return _providerLoadingState.ContainsKey(provider.ProviderId) && _providerLoadingState[provider.ProviderId];
    }
}