@using GameTracker.Frontend.Helpers;
@using GameTracker.Models;
@using GameTracker.Models.Enums;
@using GameTracker.Models.BaseClasses;
@using System.Text;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;

<div class="modal-content">
    <div class="game-details">
        <div class="modal-body">
            <div class="header">
                <img src="@GameImage.Url" width="@GameImage.Width" height="@GameImage.Height" alt="@GameTitle">
            </div>
            <Tabs>
                @foreach (var game in GameGroup)
                {
                    <Tab Title="@game.ProviderName">
                        <Content>
                            <GameModalTab Game="@game"/>
                        </Content>
                    </Tab>
                }
            </Tabs>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public IGrouping<string, Game> GameGroup { get; set; }

    public Image GameImage;
    public string GameTitle;

    protected override void OnParametersSet()
    {
        GameImage = GameGroup.FirstOrDefault(gg => gg.Image != null).Image;
        GameTitle = GameGroup.Key;
        base.OnParametersSet();
    }    
}