@using GameTracker.Frontend.Helpers;
@using GameTracker.Models;
@using GameTracker.Models.Enums;
@using GameTracker.Models.BaseClasses;
@using System.Text;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;

<div class="modal-content">
    <div class="game-details">
        <div class="modal-body">
            <div class="header">
                <img src="@_gameImage.Url" width="@_gameImage.Width" height="@_gameImage.Height" alt="@_gameTitle">
            </div>
            <Tabs>
                @foreach (var game in _games)
                {
                    <Tab Title="@game.ProviderName">
                        <Content>
                            <GameModalTab Game="@game"/>
                        </Content>
                    </Tab>
                }
            </Tabs>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public IGrouping<string, Game> GameGroup { get; set; }

    public List<Game> _games;
    public Image _gameImage;
    public string _gameTitle;

    protected override void OnParametersSet()
    {
        _games = GameGroup.DistinctBy(g => g.ProviderName).ToList();
        _gameImage = _games.FirstOrDefault(gg => gg.Image != null).Image;
        _gameTitle = GameGroup.Key;
        base.OnParametersSet();
    }    
}